<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChromeDriverPath" value="C:\Users\spsetup\Documents\Visual Studio 2012\Projects\SeleniumTutorial\.nuget\selenium.chrome.webdriver.76.0.0\driver" />
    <add key="ServerName" value="http://fbasecondtry/_layouts/15/start.aspx#/"/>
    <add key="ScriptPath" value="C:\Users\spsetup\Desktop\browsertesting\packages\basicauth.exe"/>
  </appSettings>
</configuration>