<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChromeDriverPath" value="C:\Users\e82337\Documents\GitHub\browsertesting\.nuget" />
    <add key="ServerName" value="https://www.nbg.gr/"/>
    <add key="ScriptPath" value="C:\Users\spsetup\Desktop\browsertesting\packages\basicauth.exe"/>
  </appSettings>
</configuration>