<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DriverPath" value="" />
    <add key="ChromeOutputFileAc" value="Results\Chrome-CookiesAccept.xlsx"/>
    <add key="ChromeOutputFileRej" value="Results\Chrome-CookiesRej.xlsx"/>
    <add key="ChromeOutputFileDef" value="Results\Chrome-CookiesDef.xlsx"/>
    <add key="IEOutputFileAc" value="Results\IE-CookiesAccept.xlsx"/>
    <add key="IEOutputFileRej" value="Results\IE-CookiesRej.xlsx"/>
    <add key="IEOutputFileDef" value="Results\IE-CookiesDef.xlsx"/>
    <add key="DomainsNames" value="domainUrl.txt"/>
    <add key="username" value="e82331"/>
    <add key="password" value="WT9VZ2p4Z2Fy"/> <!-- base64 encrypted-->
    <add key="teamSiteUrl" value ="http://v000080043:9993/sites/sp_team_nbg/"/>
    <add key="sharepointOnline" value="https://groupnbg.sharepoint.com"/>
    <add key="SPOUsername" value="e82331@nbg.gr"/>
    <add key="SPOPassword" value="WT9VZ2p4Z2Fy"/> <!-- base64 encrypted-->
    <add key="mailRecipients" value="e82331@nbg.gr"/> <!-- delimiter ;-->
  </appSettings>
</configuration>