<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChromeDriverPath" value="C:\Users\e82337\Desktop\browsertesting-master\CopyPaste\CopyPasteSPPages\.nuget" />
    <add key="OutputFileAc" value="C:\Users\e82337\Desktop\CookiesAccept.xlsx"/>
    <add key="OutputFileRej" value="C:\Users\e82337\Desktop\CookiesRej.xlsx"/>
    <add key="OutputFileDef" value="C:\Users\e82337\Desktop\CookiesDef.xlsx"/>
    <add key="DomainsNames" value="C:\Users\e82337\Desktop\browsertesting-master\CopyPaste\CopyPasteSPPages\.nuget\domainUrl.txt"/>
  </appSettings>
</configuration>