<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DriverPath" value="\CookieChecker\.nuget" />
    <add key="ChromeOutputFileAc" value="\Chrome-CookiesAccept.xlsx"/>
    <add key="ChromeOutputFileRej" value="\Chrome-CookiesRej.xlsx"/>
    <add key="ChromeOutputFileDef" value="\Chrome-CookiesDef.xlsx"/>
    <add key="IEOutputFileAc" value="\CookieChecker\IE-CookiesAccept.xlsx"/>
    <add key="IEOutputFileRej" value="\CookieChecker\IE-CookiesRej.xlsx"/>
    <add key="IEOutputFileDef" value="\CookieChecker\IE-CookiesDef.xlsx"/>
    <add key="DomainsNames" value="\CookieChecker\.nuget\domainUrl.txt"/>
    <add key="username" value=""/>
    <add key="password" value=""/> <!-- base64 encrypted-->
    <add key="teamSiteUrl" value ="http://v000080043:9993/sites/sp_team_nbg/"/>
    <add key="sharepointOnline" value="https://groupnbg.sharepoint.com"/>
    <add key="SPOUsername" value=""/>
    <add key="SPOPassword" value=""/> <!-- base64 encrypted-->
    <add key="mailRecipients" value="e82331@nbg.gr;e82337@nbg.gr"/> <!-- delimiter ;-->
  </appSettings>
</configuration>